@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-0 H1 {
  font-family: 'Oswald', sans-serif;
  color: #000000;
}
#menu-4 .navbar-toggler {
  color: #a8d0ea;
}

#content4-n P {
  text-align: left;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #0275d8;
}
#content4-n H4 {
  color: #a8d0ea;
}
#msg-box4-o .lead P {
  text-align: left;
}
#menu-a .navbar-toggler {
  color: #a8d0ea;
}
#menu-6 .navbar-toggler {
  color: #a8d0ea;
}
#menu-a .navbar-toggler {
  color: #a8d0ea;
}
